.button {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: 100;
  color: @white;
  background-color: @basic-green;
  padding-top: 10px;
  border: none;
}

.main-banner__button {
  width: 280px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 10px;

  position: static;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    width: 245px;
    height: 54px;
    padding-top: 20px;
    padding-left: 20px;

  }
}


.main-banner__button--top {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.main-banner__button--bottom {

  @media (min-width: @tablet-width) {
    display: none;
  }

}

.catalog-card__button {
  height: 40px;
  width: 280px;
}

.catalog-card--addition {
  @media (min-width: @tablet-width) {
    width: 632px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
  }
}

.catalog-card__button-ufolding {
  background-color: @basic-grey;
  color: @special-dark-grey;
}