.catalog-card {
    background-color: @white;
}
.catalog-card__name {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.catalog-card__property {
    display: flex;
    color: @special-dark-grey;
}
.catalog-card__button {
    height: 40px;
    width: 280px;
}