.catalog__wrapper {

    @media (min-width: @desktop-width) {
        padding: 0 110px;
    }
}

.catalog__title {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -1px;
    margin: 0;
    padding: 35px 20px;
    border-top: 1px solid @special-grey-4;
    border-bottom: 1px solid @special-grey-4;

    @media (min-width: @tablet-width) {
        font-size: 60px;
        border: none;
        padding: 40px 30px 100px 30px;

    }

}