.example {
    display: flex;
    flex-direction: column;

    @media (min-width: @desktop-width) {
        flex-direction: row;
        justify-content: flex-start;
    }
}

.example__color {
    background-color: @basic-grey-2;

    @media (min-width: @tablet-width) {
        background-color: @white;
    }
}

.example__wrapper {
    padding: 0 20px;

    @media (min-width: @tablet-width) {
        padding: 0 30px;
    }

    @media (min-width: @desktop-width) {
        min-width: 440px;
        padding: 0 110px;
    }
}

.example__title {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -1.1px;
    margin: 0;
    padding: 35px 0 14px 0; //top-right-bottom-left

    @media (min-width: @tablet-width) {
        font-size: 61px;
        letter-spacing: -2.6px;
        padding: 96px 0 0 0;
    }

    @media (min-width: @desktop-width) {
        padding: 76px 0 0 0;
    }
}

.example__intro {
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 27px 14px 25px 20px;
    color: @special-dark-grey;

    @media (min-width: @tablet-width) {
        font-size: 16px;
        line-height: 24px;
        padding: 80px 0 55px 0;
    }

    @media (min-width: @desktop-width) {
        padding: 165px 0 67px 0;
        max-width: 436px;
    }
}

.example__items-wrapper {
    @media (min-width: @tablet-width) {
        display: flex;
        justify-content: space-between;
    }

    @media (min-width: @desktop-width) {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.example__list {
    display: flex;
    justify-content: space-between;

    @media (min-width: @tablet-width) {
        justify-content: flex-start;
        padding-bottom: 253px;
    }

    @media (min-width: @desktop-width) {
        padding-bottom: 42px;
    }
}

.example__item {
    width: 124px;
    height: 56px;
    border: 1px solid @special-grey;
    border-radius: 4px;
    align-items: center;
    padding-top: 10px;

    @media (min-width: @tablet-width) {
        width: 162px;
        height: 72px;
        margin-right: 40px;
    }
}

.example__number {
    margin: 0;
    padding: 0;
}

.example__number {
    font-size: 24px;
    text-align: center;
    line-height: 32px;

    @media (min-width: @tablet-width) {
        font-size: 30px;
        line-height: 44px;
    }
}

.example__desc {
    font-family: Arial;
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
    color: @special-dark-grey;
    margin: 10px 20px;
    text-align: center;
    background-color: @basic-grey-2;

    @media (min-width: @tablet-width) {
        font-size: 14px;
        margin: 10px 16px;
        background-color: @white;
    }
}

.example__price {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    text-align: center;

    @media (min-width: @tablet-width) {
        width: 190px;
        font-size: 20px;
        text-align: right;
        padding: 0;
        margin: 0;
    }

    @media (min-width: @desktop-width) {
        width: 440px;
        padding: 0;
        text-align: left;
    }
}

.example__price span {
    padding-left: 60px;
}

.example__foto {
    position: relative;
    padding: 0;
    margin: 0;
    padding-top: 80px;
    padding-left: 50px;
    background-color: @basic-grey-2;

    @media (min-width: @desktop-width) {
        padding: 0;
        flex-grow: 1;
    }
}

.example__before {

    width: 185px;

    @media (min-width: @tablet-width) {
        position: absolute;
        width: 400px;
        top: -170px;
    }

    @media (min-width: @desktop-width) {
        width: 405px;
        top: 1px;
        left: 20px;
    }
}

.example__after {
    position: absolute;
    width: 140px;
    left: 210px;

    @media (min-width: @tablet-width) {
        position: absolute;
        width: 340px;
        left: 410px;
        top: -170px;
    }

    @media (min-width: @desktop-width) {
        width: 325px;
        top: 10px;
        left: 385px;
    }
}

.example__range {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 55px;

    @media (min-width: @tablet-width) {
        padding-top: 301px;
    }

    @media (min-width: @desktop-width) {
        padding-top: 565px;
    }
}