.example {
    background-color: @basic-grey-2;
}
.example__wrapper {
}
.example__title {
    font-size: 36px;
    margin: 0;
    padding: 27px 105px 33px 20px; //top-right-bottom-left
}
.example__intro {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0 20px 25px 20px;

}
.example__list {
}
.example__item {
}
.example__number {
}
.example__desc {
}
.example__foto {
}
.example__range {
}