.field__input {
    padding: 18px 22px 14px 22px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: @special-dark-grey;
}

.field__input::placeholder {
    font-size: 16px;
    line-height: 18px;
    color: @special-dark-grey;
    text-transform: uppercase;
}

.field__label {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @special-dark-grey;
}