.field__input {
    width: 100%;
    padding: 18px 0 14px 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: @special-dark-grey;
}

.form-group__title {
    margin-bottom: 35px;
}

.field__input::placeholder {
    font-size: 16px;
    line-height: 18px;
    color: @special-dark-grey;
    text-transform: uppercase;
}

.field__label {
    margin-right: 14px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @special-dark-grey;

    @media (min-width: @tablet-width) {
        font-size: 20px;
    }
}