.form-group {
    border: none;
    margin: 0;
}

.form-group__title {
    font-size: 24px;
    line-height: 26px;
    color: @black;
    margin-bottom: 35px;
}

.form-group--contacts {
    @media (min-width: @tablet-width) {
        grid-column: span 2;
    }

    @media (min-width: @desktop-width) {
        display: flex;
    }
}