  .form-comment__input {
      border: none;
      padding: 18px 21px 24px 21px;
      font-size: 16px;
      line-height: 18px;
      color: @special-dark-grey;
      text-transform: uppercase;
  }

  .form-feedback__input::placeholder {
      color: @special-dark-grey;
  }



  .form-comment {
      @media (min-width: @tablet-width) {
          grid-column: span 2;
      }
  }