.page-form__wrapper {
    padding: 0 10px;

    @media (min-width: @tablet-width) {
        padding: 0 70px;
    }

    @media (min-width: @desktop-width) {
        padding: 0 110px;
    }
}

.form {
    @media (min-width: @desktop-width) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.form-choose-programs__comment {
    text-align: center;
}