.location {
    background-color: @white;

}

.location__wrapper {

    @media (min-width: @desktop-width) {
        position: relative;

    }
}

.location__intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 114px;
    padding: 0 20px;

    @media (min-width: @tablet-width) {
        max-height: 201px;
        padding: 0 71px;
    }

    @media (min-width: @desktop-width) {
        background-color: @white;
        position: absolute;
        max-width: 570px;
        max-height: 201px;
        padding: 0;
        top: 10px;
        left: 10px;
        z-index: 1;
    }
}

.location__invite {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
        font-size: 20px;
        line-height: 25px;
        padding-right: 160px;
    }

    @media (min-width: @desktop-width) {
        padding: 0 20px 0 100px;
    }

}

.location__address {
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    color: @special-dark-grey;

    @media (min-width: @tablet-width) {
        font-size: 16px;
        line-height: 26px;
        padding-left: 160px;
        text-align: right;
    }

    @media (min-width: @desktop-width) {
        padding: 0;
        padding-right: 100px;
        text-align: left;

    }
}

.location__map {
    height: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.location__iframe {
    width: 100%;
    height: 100%;
    border: none;
}