.main-banner {
    text-align: center;
}

.main-banner__intro {
    height: 302px;
    color: @white;

    @media (min-width: @tablet-width) {
        color: @black;
    }

}

.main-banner__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 27px 0 25px 20px; //top-right-bottom-left
}

.main-banner__slogan {
    text-transform: uppercase;
    margin: 0;
}


.main-banner__pic {
    position: relative;
    height: 302px;
    background-color: @basic-green-transparent;
}

.main-banner__pic::after {
    position: absolute;
    display: block;
    content: "";
    width: 320px;
    height: 302px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url("../img/index-background-desktop.jpg");
    top: -110px;
    z-index: -1;

    @media (min-width: @tablet-width) {
        display: none;
    }
}

.main-banner__pic-2 {
    position: relative;
    background-color: @white;
    height: 160px;
}

.main-banner__pic-2::after {
    position: absolute;
    display: block;
    content: "";
    width: 280px;
    height: 270px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url("/source/img/index-can-mobile.png");
    top: -112px;
    left: 20px;
}