.main-banner {
    text-align: center;
}

.main-banner__intro {
    color: @white;
    background-color: @basic-green-2;
}

.main-banner__title {
    font-size: 36px;
    line-height: 36px;
    padding: 35px 27px 35px 25px; 
}

.main-banner__slogan {
    text-transform: uppercase;
    padding-top: 25px;
}

.main-banner__button {
    padding: 7px 44px 7px 44px;
    text-transform: uppercase;
}

.main-banner__title--pic {
    position: relative;
}
  
.main-banner__title--pic::after {
    display: block;
    content: "";
    width: 320px;
    height: 302px;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.main-banner__title--pic::after {
    background-image: url("../img/index-background-desktop.jpg");
    
}