.methodology {
    background-color: @white;
}

.methodology__wrapper {
    padding: 0 20px;

    @media (min-width: @tablet-width) {
        padding: 0 30px;
    }

    @media (min-width: @desktop-width) {
        padding: 0 110px;
    }

}

.methodology__title {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -1px;
    margin: 0;
    padding-top: 26px;
    padding-bottom: 47px;


    @media (min-width: @tablet-width) {
        font-size: 61px;
        letter-spacing: -2.2px;
        padding-top: 31px;
        padding-bottom: 61px;
    }

    @media (min-width: @desktop-width) {
        padding-top: 56px;
        padding-bottom: 60px;
    }
}

.methodology__list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    padding-left: 80px;

    @media (min-width: @tablet-width) {
        grid-template-columns: 230px 230px;
        grid-template-rows: 280px 280px;
        gap: 37px 154px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    @media (min-width: @desktop-width) {
        grid-template-columns: 230px 230px 230px 230px;
        grid-template-rows: 280px;
        gap: 37px 95px;

    }
}

.methodology__item {
    padding-bottom: 26px;

    @media (min-width: @tablet-width) {
        padding-bottom: 124px;
    }

    @media (min-width: @desktop-width) {}

}

.methodology__description {
    position: relative;
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    z-index: 1;
    text-align: left;
    align-items: center;
    margin: 0;

    @media (min-width: @tablet-width) {
        padding-top: 145px;
        font-size: 16px;
        line-height: 24px;
    }


    @media (min-width: @desktop-width) {
        line-height: 24px;
    }
}

.methodology__number {
    position: absolute;
    display: none;
    font-size: 280px;
    color: @basic-grey;
    z-index: 0;
    top: -162px;
    left: 110px;

    @media (min-width: @tablet-width) {
        display: block;
    }
}


.methodology__item--good,
.methodology__item--practic,
.methodology__item--use,
.methodology__item--time {
    position: relative;
}

.methodology__item--good::after {
    display: block;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    background-image: url("/source/img/good.svg");
    top: -2px;
    left: -80px;

    @media (min-width: @tablet-width) {
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
        top: 30px;
        left: 1px;
    }
}

.methodology__item--practic:after {
    display: block;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    background-image: url("/source/img/practic.svg");
    top: -2px;
    left: -80px;

    @media (min-width: @tablet-width) {
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
        top: 30px;
        left: 1px;
    }
}

.methodology__item--use:after {
    display: block;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    background-image: url("/source/img/use.svg");
    top: -2px;
    left: -80px;

    @media (min-width: @tablet-width) {
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
        top: 30px;
        left: 1px;
    }
}

.methodology__item--time:after {
    display: block;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    background-image: url("/source/img/time.svg");
    top: -2px;
    left: -80px;

    @media (min-width: @tablet-width) {
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
        top: 30px;
        left: 1px;
    }
}