.methodology {
    background-color: @white;
}

//.methodology__wrapper {}

.methodology__title {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -1px;
    padding-left: 20px;
    margin: 0;

    @media (min-width: @tablet-width) {
        font-size: 61px;
        letter-spacing: -2.2px;
        padding: 31px 0 64px 30px;
    }

    @media (min-width: @desktop-width) {
        padding-left: 110px;
    }
}

.methodology__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 32px;

    @media (min-width: @tablet-width) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 106px;
        padding-bottom: 0px;

    }


    @media (min-width: @desktop-width) {
        margin-left: 80px;
        margin-right: 38px;
    }

}

.methodology__item {
    margin: 13px 20px 13px 100px;


    @media (min-width: @tablet-width) {
        height: 280px;
        width: 250px;
        margin: -5px 0 40px 30px;

    }

    @media (min-width: @desktop-width) {
        margin: 15px 0 35px 30px;

    }

}

.methodology__description {
    position: relative;
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    z-index: 1;
    text-align: left;
    align-items: center;
    margin: 0;

    @media (min-width: @tablet-width) {
        padding-top: 145px;
        font-size: 16px;
        line-height: 24px;
    }


    @media (min-width: @desktop-width) {
        line-height: 24px;
    }
}

.methodology__number {
    position: absolute;
    display: none;
    font-size: 280px;
    line-height: 280px;
    color: @basic-grey;
    z-index: 0;
    top: -290px;
    left: 110px;

    @media (min-width: @tablet-width) {
        display: block;
    }
}


.methodology__item--good,
.methodology__item--practic,
.methodology__item--use,
.methodology__item--time {
    position: relative;
}

.methodology__item--good::after {
    display: block;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    background-image: url("/source/img/good.svg");
    top: -2px;
    left: -80px;

    @media (min-width: @tablet-width) {
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
        top: 30px;
        left: 1px;
    }
}

.methodology__item--practic:after {
    display: block;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    background-image: url("/source/img/practic.svg");
    top: -2px;
    left: -80px;

    @media (min-width: @tablet-width) {
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
        top: 30px;
        left: 1px;
    }
}

.methodology__item--use:after {
    display: block;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    background-image: url("/source/img/use.svg");
    top: -2px;
    left: -80px;

    @media (min-width: @tablet-width) {
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
        top: 30px;
        left: 1px;
    }
}

.methodology__item--time:after {
    display: block;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    background-image: url("/source/img/time.svg");
    top: -2px;
    left: -80px;

    @media (min-width: @tablet-width) {
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
        top: 30px;
        left: 1px;
    }
}